# You can have several different profiles and use ROCKET_PROFILE environment
# variable to switch between them. By default release is used.
# See https://rocket.rs/v0.5-rc/guide/configuration/#profiles for more info.
[release]
# Listen address
address = "0.0.0.0"
# Listen port
port = 8000
# Set if new users can register or not. If you set to false only previous
# registered users can login an use server.
registration_enabled = true
# Set the life time of access token in seconds. The user must request a new
# access token with the refresh token after this time has elapsed.
access_token_lifetime = 3600
# Set the life time of refresh token in seconds. If the user don't refresh
# token in this time, must login again.
refresh_token_lifetime = 2592000
# Log level, set to "critical" to disable it and log only critical errors.
log_level = "normal"
[release.databases.rockpass]
# Location of SQlite database
url = "/tmp/rockpass.sqlite"

# Other sample
[debug]
address = "127.0.0.1"
port = 9000
registration_enabled = true
log_level = "debug"
[debug.databases.rockpass]
# Use database in memory
url = ":memory:"
